DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/flow_forge?schema=public

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=yourpassword
DATABASE_NAME=flow_forge

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=your-jwt-secret
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=3d

BCRYPT_SALT_ROUNDS=15
